#body{
    background-color: lightcyan;
}

#tool{
    background-color: rgb(87, 168, 141);
    margin-left: 100px;
    margin-top: 30px;
    height: 600px;
    width: 240px;
    position: absolute ;
}
#canva{
    background-color:  rgb(253, 249, 211);
    margin-top: 30px;
    margin-left: 340px;
    height: 599px;
    width: 960px;
    border-style: solid;
    border-width: 1px;
    position: absolute ;
}
#m{
    cursor: url("penicon.png"),auto;
    background-color:  rgb(253, 249, 211);
}
#autoclickme{
    display: none;
}
#title_name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
input[type="range"]{
    float: left;
    margin-left: 15px;
    -webkit-appearance: none;
    width:130px;
    height:5px;
    outline : none;
    background-color: bisque;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;
    width:15px;
    height:15px;
    background:rgb(0, 25, 138);
    border-radius:50%;
    transition:.2s;
}
.row{
    width: 100%;
    text-align: center;
    line-height: 60px;
}
.btn {
    width: 50px;
    height: 50px;
    background: #757575;
    color: white;
    font-size: 22px;
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
    cursor: pointer;
}
.kwang {
    width: 240px;
    height: 50px;
    margin-bottom: 25px;
}
.btn1 {
    float: left;
    margin: 22.5px 0 22.5px 10px;
}
.btn2 {
    float: left;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 60%;
    box-shadow: none;
    border: 0;
    margin-left: 6%;
    margin-right: 12px;
    cursor: pointer;
}

#theimage{
    display: none;
}
#uploadImage{
    display: none;
}

.text{
    width:100%;
}
.text select{
    margin-left: 9%;
    margin-bottom: 25px;
    width:35%; 
    height:20px;
    line-height: 20px;
    font-size: 15px;
    background-color: grey;
    color: white;
}